
<dl class="dl-horizontal" >
	<dt>Street</dt>
	<dd>{{$parent.business.address.street}}</dd>
	<dt>Outdoor Number</dt>
	<dd>{{$parent.business.address.outdoorNumber}}</dd>
	<dt>Indoor Number</dt>
	<dd>{{$parent.business.address.indoorNumber}}</dd>
	<dt>Neighborhood</dt>
	<dd>{{$parent.business.address.neighborhood}}</dd>
	<dt>Postal Code</dt>
	<dd>{{$parent.business.address.postalCode}}</dd>
	<dt>City</dt>
	<dd>{{$parent.business.address.city}}</dd>
	<dt>Phone</dt>
	<dd>{{$parent.business.address.phone}}</dd>
</dl>