<div class="row">
	<div class="col-md-4"></div>
	<div class="col-md-4">
			<div class="form-group">
				<table class="table">
					<tbody>
						<tr>
							<td>Street</td>
							<td><input name="" class="form-control" id=""
								value="$parent.business.address.name"
								ng-model="$parent.business.address.street"></td>
						</tr>
						<tr>
							<td>OutDoor Number</td>
							<td><input name="" class="form-control" id=""
								value="$parent.business.address.outdoorNumber"
								ng-model="$parent.business.address.outdoorNumber"></td>
						</tr>
						<tr>
							<td>InDoor Number</td>
							<td><input name="" class="form-control" id=""
								value="$parent.business.address.indoorNumber"
								ng-model="$parent.business.address.indoorNumber"></td>
						</tr>

						<tr>
						<tr>
							<td>Neighborhood</td>
							<td><input name="" class="form-control" id=""
								value="$parent.business.address.neighborhood"
								ng-model="$parent.business.address.neighborhood"></td>
							</td>
						</tr>
						<tr>
							<td>City</td>
							<td><input name="" class="form-control" id=""
								value="{{$parent.business.address.city}}"
								ng-model="$parent.business.address.city"></td>
						</tr>
						<tr>
							<td>State</td>
							<td><input name="" class="form-control" id=""
								value="$parent.business.address.state"
								ng-model="$parent.business.address.state"></td>
						</tr>
						<tr>
							<td>Postal Code</td>
							<td><input name="" class="form-control" id=""
								value="$parent.business.address.postalCode"
								ng-model="$parent.business.address.postalCode"></td>
						</tr>
						<tr>
							<td>Phone</td>
							<td><input name="" class="form-control" id=""
								value="$parent.business.address.phone"
								ng-model="$parent.business.address.phone"></td>
						</tr>


					</tbody>
				</table>
			</div>
