<hibernate-configuration>
        <session-factory>
                <!-- Database connection settings -->
                <property name="connection.driver_class">org.postgresql.Driver</property>
                <property name="connection.url">jdbc:postgresql://localhost:5432/finderclients</property>
                <property name="connection.username">postgres</property>
                <property name="connection.password">syspass</property>

                <!-- JDBC connection pool (use the built-in) -->
                <property name="connection.pool_size">1</property>

                <!-- SQL dialect -->
                <property name="dialect">
                        org.hibernate.dialect.PostgreSQLDialect
                </property>
                <property name="cache_provider_class">org.hibernate.cache.NoCacheProvider</property>
                <property name="show_sql">true</property>
                <property name="hbm2ddl.auto">update</property>
                <property name="hbm2ddl.import_files">/home/ccastillo/workspace/gps-locator-api/initial_data.sql</property>

                <mapping class="gps.locator.model.User" />
                <mapping class="gps.locator.model.Permission" />
                <mapping class="gps.locator.model.Request" />
                <mapping class="gps.locator.model.Menu" />
                <mapping class="gps.locator.model.CategoryMenu" />
                <mapping class="gps.locator.model.Address" />
                <mapping class="gps.locator.model.Tree" />

        </session-factory>

</hibernate-configuration>

